# Creación y modificación de sets

In [32]:
mySet = set()
print(mySet)
mySet.add("backend")
print(mySet)

set()
{'backend'}

In [33]:
mySet.add("cajaval")
mySet.update(("cajero", 1, 3.1416, "valor"))  # esta sintaxis con la tupla interpreta la string como una lista y añade caracter por caracter
print(mySet)

{'cajero', 1, 3.1416, 'backend', 'valor', 'cajaval'}

In [34]:
newSet = set()
# mySet.update(("cajero", 1, 3.1416)) esta sintaxis con la tupla interpreta la string como una lista y añade caracter por caracter
newSet.update(["cajero", 1, 3.1416])
print(newSet)

{'cajero', 1, 3.1416}

## add()

In [6]:
mySet = {"hola", "adiós", "hello"}
newSet = {1, 3.14, "hello"}
newSet.add("bye")
mySet.add("bye")
print(mySet)
print(newSet)

{'hola', 'hello', 'bye', 'adiós'}
{1, 3.14, 'hello', 'bye'}

## clear()

In [8]:
mySet.clear()
print(len(mySet))
print(mySet)

0
set()

## copy()

In [9]:
mySet = {"hola", "hello", "adiós"}
myCopy = mySet.copy()
mySet.clear()
print(mySet)
print(myCopy)

set()
{'hola', 'hello', 'adiós'}

## difference()

In [11]:
setOne = {2,4,6,8,10}
setTwo = {6,7,8,9,10}
print(setOne.difference(setTwo))
print(setTwo.difference(setOne))

{2, 4}
{9, 7}

## difference_update()

setOne.difference_update(setTwo)
print(setOne)
setTwo.difference_update(setOne)
print(setTwo)

## discard()

In [13]:
setOne.add(27)
print(setOne)
setOne.discard(27)
print(27)

{2, 4, 27}
27

## intersection()

In [14]:
setOne = {2,4,6,8,10}
setTwo = {6,7,8,9,10}
print(setOne.intersection(setTwo))
setOne.intersection_update(setTwo)
print(setOne)
setTwo.intersection_update(setOne)
print(setTwo)

{8, 10, 6}
{8, 10, 6}
{8, 10, 6}

## isdisjoint()

In [16]:
setOne = {2,4,6,8,10}
setTwo = {6,7,8,9,10}
setThree = {100,200,300,400,500}
print(setOne.isdisjoint(setTwo))
print(setOne.isdisjoint(setThree))

False
True

In [17]:
## issubset()

In [18]:
setOne = {2,4,6,8,10}
setTwo = {6,7,8,9,10}
setThree = {100,200,300,400,500}
print(setTwo.issubset(setOne))
print(setThree.issubset(setOne))

False
False

## issuperset() # todo el set debe ser contenido por el primer set
## pop() # remueve un elemento del set, comenzando por el primero 
## remove() # remueve el elemento pasado como parámetro, debe estar presente en el set
## union() # junta dos sets
## update() # añade a los valores del set original los nuevos parámetros
## symmetric_difference # diferencias entre ambos sets
## symmetric_difference_update # diferencias entre ambos sets y asigna valores al set llamado

## Conversión de sets

### String -> set

In [27]:
phrase = "esta es una cadena de caracteres"
converted = set(phrase)
print(converted)

{'t', 'u', 'n', 'd', ' ', 'e', 'a', 's', 'c', 'r'}

### list -> set

In [22]:
myList = ["esta", "es", "una", "lista"]
converted = set(myList)
print(converted)

{'esta', 'una', 'es', 'lista'}

### tuple -> set

In [28]:
myTuple = 1,2,1,2,1,2,3,4,5,6,7,8,9,0,0,0
converted = set(myTuple)
print(converted)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### set -> string

In [29]:
mySet = {"a", "c", "l", "p","u"}
converted = "".join(mySet)
print(converted)

upacl

### set -> list

In [31]:
mySet = {1,6,2,7,111,22,44467}
converted = list(mySet)
print(converted)

[1, 2, 44467, 6, 7, 22, 111]

### set -> tuple

In [32]:
mySet = {"hola", "casa", "comida", "cena", "avión"}
converted = tuple(mySet)
print(converted)

('hola', 'cena', 'casa', 'avión', 'comida')